@page "/test"
@inject HttpClient http
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender:false))


<PageTitle>Home</PageTitle>

@if(persons.Count == 0){
    <p><em>Loading data...</em></p>
}
else{
    <table class="table">
        <thead>
            <tr>
                <td>Name</td>
                <td>Surname</td>
                <td>Age</td>
            </tr>

        </thead>
        <tbody>
            @foreach (var person in persons)
            {
                <tr>
                    <td>@person.name</td>
                    <td>@person.surname</td>
                    <td>@person.age</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    public class Person
    {
        public string name { get; set; }
        public string surname { get; set; }
        public string age { get; set; }
    }

    List<Person> persons = new List<Person>();

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);
        var result = await http.GetFromJsonAsync<List<Person>>("api/values");

        if(result != null)
        {
            persons = result;
        }
    }
}